.inputContainer {
  display: grid;
  grid-row: 3;
  grid-template-columns: 80% 20%;

  textarea {
    grid-column: 1;
    padding: 8px;
    margin: 8px;
    align-self: center;
    resize: none;

    &:focus {
      outline: 1px solid #94e1ff;
      border: 1px solid #94e1ff;
    }
  }
}