.inputContainer {
  display: grid;
  grid-row: 3;
  grid-template-columns: 80% 20%;

  textarea {
    grid-column: 1;
    padding: 8px;
    margin: 8px;
    align-self: center;
    resize: none;
  }

  .sendBtn {
    grid-column: 2;
    align-self: center;
    justify-self: center;
    padding: 8px;

    i {
      margin-right: 12px;
    }
  }
}